@import "../../styles/Variables.scss";

.switch {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 34px;
}

.switch.off,
.switch.on {
  width: 45px;
  height: 25px;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}

.switch.off {
  background-color: $hoverLight;
}

.switch.on {
  background-color: $secondaryLight;
}

.switch.off:before,
.switch.on:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 1px;
  top: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.switch.on:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
