$primary: #5c6bc0;
$primaryDark: #26418f;
$primaryLight: #ec97f9;

$secondary: #1c2938;
$secondaryDark: #101922;
$secondaryLight: #4f5b62;

$switchLight: #eceff1;
$swithDark: #babdbe;

$text: white;
$hoverText: #bdbdbd;
