$primary: #5c6bc0;
$primaryDark: #26418f;
$primaryLight: #ec97f9;

$secondary: #263238;
$secondaryDark: #000a12;
$secondaryLight: #4f5b62;

$switchLight: #eceff1;
$swithDark: #babdbe;

$text: white;
$hoverText: #212529;
